<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/login.css">
  <style>
/*the container must be positioned relative:*/
</style>
</head>
<body>
  <div class="login-page">
    <div class="form" >
    <h1>Registration Details</h1>
    <h4>{{ mail_id }}</h4>
      <form class="sale-details" action="{% url 'insert' %}" method="post">
        {% csrf_token %}
      <table cellspacing="14" cellpadding="3">
       <tr>
       <td>Name</td>
        <td><input type="text" name="name" /></td>
        </tr>
        <tr>
        <td>Registration No.</td>
        <td>
        <input type="text" name="reg_no" />
        </td>
        </tr>
        <tr>
        <td>Email ID</td>
        <td><input type="email" name="mail_id" /></td>
        </tr>
        <tr>
        <td>Mobile Number</td>
	<td><input type="text" name="phone" /></td>
	</tr>
	<tr>
	<td>College Name</td>
	<td><input type="text" name="college" /></td>
	</tr>
	<tr>
	<td>Payment Method</td>
	<td>
	<div class="custom-select">
	<select name="pay_mode">
		<option>Cash</option>
		<option>PayTM</option>
		<option>Tez</option>
		<option>Card</option>
	</select></div></td>
	</tr>
	<tr>
	<td>Ticket Type</td>
	<td>
	<div class="custom-select">
	<select name="type">
		<option>Workshop</option>
		<option>Highlights</option>
		<option>Proshow</option>
	</select></div></td>
	</tr>
	<tr>
	<td>Location Of Sale</td>
	<td><input type="text" name="location" /></td>
	</tr>
	<tr>
	<td>User :</td>
	<td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
	</tr>
        
        </table>
        <button>Submit</button>
      </form>
      <p></p>
      <form action='/tickets/logout'>
      <button>LOGOUT</button>
    </form>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../static/js/login.js"></script>

<script>
var x, i, j, selElmnt, a, b, c;

x = document.getElementsByClassName("custom-select");
for (i = 0; i < x.length; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 0; j < selElmnt.length; j++) {
   
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
       
        var y, i, k, s, h;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        h = this.parentNode.previousSibling;
        for (i = 0; i < s.length; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            for (k = 0; k < y.length; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
     
      e.stopPropagation();
      closeAllSelect(this);
      this.nextSibling.classList.toggle("select-hide");
      this.classList.toggle("select-arrow-active");
    });
}
function closeAllSelect(elmnt) {
  
  var x, y, i, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  for (i = 0; i < y.length; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < x.length; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}

document.addEventListener("click", closeAllSelect);</script>

</body>
</html>

